.canvas-container {
    width: 480px;
    background-color: var(--clr2);
}

.editor-container {
    width: 480px;
}

.image-gallery {
    display: none;
}

.about {
    display: none;
}

.editor-container ul img {
    width: ;
}