.image-gallery {
    background-color: #383b42;
    margin: 2em;
    padding: 2em;
    border-radius: 2em;
}

.image-gallery ul li a {
    padding: 0.8em;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-nav > *{
    margin: 0.3em;
}

.search-box {
    background-color: #22252c;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 2em;
    font-size: 1.4em;
}

.keywords-container {
    background-color: #fefefe;
    border-radius: 2em;
    padding: 0.5em;
    font-size: 1.2em;
}

.more-btn {
    color: white;
    font-size: 1.1em;
    padding: .8em;
    background-image: linear-gradient(-86deg, var(--clr2) 0%, var(--clr1) 100%);
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-auto-flow: dense;
    gap: 2em;
    margin: 2em 0 auto;
}

.images-container img {
    width: 100%;
    border-radius: 1em;
    display: block;
    cursor: pointer;
    transition: .2s ease-in;
}

.images-container img:hover {
    scale: 1.1;
    box-shadow: 0 0 10px 3px var(--clr2);
}

.images-container p {
    text-align: center;
}